{% macro input(field, type, label, required, choices) %}
	{% if type == 'text' or type == 'number' or type == 'email' %}
		<label for="{{ field }}">{{ label }}{{ required ? '<span class="req">*</span>' : '' }}</label>
		<input type="{{ type }}" name="{{ field }}" id="{{ field }}" {{ required ? 'required' : '' }}>

	{% elseif type == 'checkbox' and choices %}
		{% if choices|length == 1 %}
			<input type="{{ type }}" name="{{ field }}" id="{{ field }}" value="{{ choices[0].value }}" {{ required ? 'required' : '' }}>
			<label for="{{ field }}">{{ label }}{{ required ? '<span class="req">*</span>' : '' }}</label>

		{% else %}
			<fieldset>
				{{ label }} {{ required ? '<span class="req">*</span>' : '' }}
				{% for choice in choices %}
					<input type="{{ type }}" name="{{ field }}" id="{{ field }}{{ choice.value }}" value="{{ choice.value }}" {{ required ? 'required' : '' }}>
					<label for="{{ field }}{{ choice.value }}">{{ choice.label }}</label>
				{% endfor %}
			</fieldset>
		{% endif %}

	{% elseif type == 'radio' and choices %}
		<fieldset>
			<label>{{ label }} {{ required ? '<span class="req">*</span>' : '' }}</label>
			{% for choice in choices %}
				<input type="{{ type }}" name="{{ field }}" id="{{ field }}{{ choice.value }}" value="{{ choice.value }}" {{ required ? 'required' : '' }}>
				<label for="{{ field }}{{ choice.value }}">{{ choice.label }}</label>
			{% endfor %}
		</fieldset>

	{% elseif type == 'select' and choices %}
		<label for="{{ field }}">{{ label }}</label>
		<div class="_select">
			<select name="{{ field }}" id="{{ field }}">
				{{ label }} {{ required ? '<span class="req">*</span>' : '' }}
				{% for choice in choices %}
					<option type="{{ type }}" value="{{ choice.value }}" {{ required ? 'required' : '' }}>
						{{ choice.label }}
					</option>
				{% endfor %}
			</select>
		</div>
	{% elseif type == 'textarea' %}
		<label for="{{ field }}">{{ label }}</label>
		<textarea name="{{ field }}" id="{{ field }}"></textarea>
	{% endif %}
{% endmacro %}
