{% macro input(menu, name) %}
	<div id="{{ name }}" class="{{ name }} collapse navbar-collapse" id="menu-{{ name }}">
		<ul class="navbar-nav">
			{% for item in menu.get_items %}
				{% if (item.get_children) %}
					<li class="dropdown {{ item.class }}" id="menu-item-{{ item.id }}">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown{{ item.id }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			            	{{ item.title }}
			            </a>
			            <ul class="dropdown-menu" aria-labelledby="navbarDropdown{{ item.id }}">
			            	{% for subitem in item.get_children %}
				            	<li class="{{ subitem.class }}" id="menu-item-{{ subitem.id }}">
				            		<a href="{{ subitem.get_link }}" target="{{ subitem.target }}" class="nav-link">
										{{ subitem.title }}
					            	</a>
					            </li>
			            	{% endfor %}
			        	</ul>
					</li>
				{% else %}
					<li class="{{ item.class }} nav-item" id="menu-item-{{ item.id }}">
						<a href="{{ item.get_link }}" target="{{ item.target }}" class="nav-link">
							{{ item.title }}
						</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
{% endmacro %}
