{% macro input(menu, name) %}
	<div id="{{ name }}" class="{{ name }} collapse navbar-collapse">
		<ul class="navbar-nav" role="menu">
			{% for item in menu.get_items %}
				{% if (item.children) %}
					<li class="dropdown {{ item.class }}" id="menu-item-{{ item.id }}" role="menuitem">
						<a href="#" class="nav-link dropdown-toggle" href="#" id="navbarDropdown{{ item.id }}" role="button" data-bs-toggle="dropdown" aria-expanded="false" role="menuitem">
			            	{{ item.title }}
			            </a>
			            <ul class="dropdown-menu" aria-labelledby="navbarDropdown{{ item.id }}" role="group">
			            	{% for subitem in item.children %}
				            	<li class="{{ subitem.class }}" id="menu-item-{{ subitem.id }}" role="menuitem">
				            		<a href="{{ subitem.link }}" target="{{ subitem.target }}" class="nav-link">
										{{ subitem.title }}
					            	</a>
					            </li>
			            	{% endfor %}
			        	</ul>
					</li>
				{% else %}
					<li class="{{ item.class }} nav-item" id="menu-item-{{ item.id }}" role="menuitem">
						<a href="{{ item.link }}" target="{{ item.target }}" class="nav-link">
							{{ item.title }}
						</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
{% endmacro %}
