{% macro input(pagination) %}
	{% if pagination.pages %}
		{# first figure out which one is current and it id #}
		{% set current_id = '' %}
		{% for page in pagination.pages %}
			{% if page.current == true %}
				{% set current_id = loop.index %}
			{% endif %}
		{% endfor %}


	    <ul class="pagination">
		    {% if pagination.prev %}
		    	<li>
			        <a href="{{pagination.prev.link}}" class="prev {{pagination.prev.link|length ? '' : 'invisible'}}">&#9668;</a>
			    </li>
		    {% endif %}
	        {% for page in pagination.pages %}
	        	{% if (current_id - 1) <= loop.index and (current_id + 1) >= loop.index %}
		            <li>
		                {% if page.link %}
		                    <a href="{{page.link}}" class="{{page.class}}">{{ page.title }}</a>
		                {% else %}
		                    <span class="{{page.class}}">{{page.title}}</span>
		                {% endif %}
		            </li>
	            {% endif %}
	        {% endfor %}
		    {% if pagination.next %}
		    	<li>
			        <a href="{{pagination.next.link}}" class="next {{pagination.next.link|length ? '' : 'invisible'}}">&#9658;</a>
			    </li>
		    {% endif %}
	    </ul>
	{% endif %}
{% endmacro %}
