{% macro input(pagination) %}
	<ul class="pagination">
		{% set last_page_num = 0 %}
		
		{# First determine the actual last page number #}
		{% for page in pagination.pages %}
			{% set current_num = page.title|number_format %}
			{% if current_num > last_page_num %}
				{% set last_page_num = current_num %}
			{% endif %}
		{% endfor %}
		
		{% for page in pagination.pages %}
			{% set page_num = page.title|number_format %}
			
			{# Show first, last, current, and adjacent pages #}
			{% if page_num == 1 or page_num == last_page_num or page.current or page.title == pagination.current - 1 or page.title == pagination.current + 1 %}
				<li>
				{% if page.link %}
					{% if page.title == pagination.current - 1 %}
						<a href="{{ page.link }}" class="{{ page.class}} prev">&#9664;</a>
					{% elseif page.title == pagination.current + 1 %}
						<a href="{{ page.link }}" class="{{ page.class }} next">&#9654;</a>
					{% else %}
						<a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
					{% endif %}
				{% else %}
					<span class="{{ page.class }}">{{ page.title }}</span>
				{% endif %}
				</li>
			{% endif %}
		{% endfor %}
	</ul>
{% endmacro %}
