{% extends 'base.twig' %}
{% block content %}
	<div class="container alphabetical_list">
	<div class="row">
		{% import 'macro/letters.twig' as letters %}
		{% set posts = fn('list_data', view.postType) %}
		{% set letter = null %}
		<div class="col-12 col-sm-10 offset-sm-1">
			<div class="box row">
				{% for term in terms %}
					<div class="col-12 col-sm-4 col-md-3">
						<a href="{{ fn('get_term_link', term.term_id) }}">
							{{ term.name }}
						</a>
					</div>
				{% endfor %}
			</div>
			{{ letters.input(post.link, posts) }}
		</div>
		<div class="col-12 the_list">
			{% for item in posts %}
				{% set first_letter = item.post_title|slice(0, 2)|lower == 'ch' ? item.post_title|slice(0, 2)|lower == 'ch' : item.post_title|first|lower %}

				{% if first_letter != letter %}
					{% if loop.index != 1  %}
						</div>
					{% endif %}
					<div class="letter_box">
						<h4>
							<a class="list_anchor emphasize" name="{{ fn('diacriticEqvivalent', first_letter) }}">
								{{ first_letter }}
							</a>
						</h4>
						{% set letter = first_letter  %}

				{% endif %}

				<a href="{{ item.link }}" class="item">
					{{ item.post_title ? item.post_title : "--no name--" }}
				</a>

				{% if loop.index == col|length  %}
					</div><!-- l -->
				{% endif %}

			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
