{% import "macro/menu_items.twig" as menu_items %}
{% import 'macro/edit-link.twig' as editLink %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="{{ theme.path }}/img/favicon.png" />
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>{{ wp_title }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="code-by" content="2046.cz" />
        <!-- web coded by http://2046.cz -->
        <!-- some code licensed under Aggressive Copyright http://aggressive-copyright.org -->
        {{ fn('wp_head') }}
    </head>
    <body class="{{ body_class }}">
	   {{ editLink.input(post) }}
        {% block top_menu %}
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#top_menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span></span>
				<span></span>
				<span></span>
			</button>
            <nav class="navbar navbar-expand-lg" role="navigation">
				<a href="{{ site.url }}" id="logo">
					<img src="{{ theme.path }}/img/logo.svg" alt="{{ site.title }}">
				</a>
				{{ menu_items.input(top_menu, 'top_menu') }}
            </nav>
        {% endblock %}

        {% block content %}
        {% endblock %}

        {{ fn('wp_footer') }}
    </body>
</html>
