{% import 'macro/wpml_switch.twig' as wpml_switch %}
{% import "macro/responsive_image.twig" as rImage %}
{% import 'macro/edit-link.twig' as editLink %}
{% import 'macro/section.twig' as section %}
{% import 'macro/footer.twig' as footerView %}
{% import 'macro/publications.twig' as publicationsView %}
{% import 'macro/top_menu.twig' as topMenu %}


<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="{{ theme.path }}/img/favicon.png" />
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>{{ wp_title }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="code-by" content="2046.cz" />
        <!-- web coded by http://2046.cz -->
        <!-- some code licensed under Aggressive Copyright http://aggressive-copyright.org -->

        <!--[if lt IE 9]>
            <script src="{{ theme.path }}/js/vendor/respond.min.js"></script>
        <![endif]-->
        {{ wp_head }}
    </head>
    <body class="{{ body_class }}">
        {{ editLink.input(post) }}
        {% block top_menu %}
            {{ topMenu.input(top_menu, theme, site) }}
        {% endblock %}

        {% block content %}
        {% endblock %}

        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 sparse_content">
                    {% block sparseContent %}
                    {% endblock %}
                </div>
                <div class="col-12 col-sm-4">
                    {% block aside %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <div class="container publications">
            <div class="row">
                {% set publications_view = footer.get_field('publications') %}
                {{ publicationsView.input(publications_view) }}
            </div>
        </div>
        <div class="main_sections">
            <div class="container">
                <div class="row">
                    {% for item in footer.get_field('main_sections') %}
                        <div class="col-12 col-sm-6 col-md-3">
                            {{ section.input(item, 'h3') }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {{ footerView.input(footer, theme) }}

    {{wp_footer}}
    </body>
</html>
