{% extends 'base.twig' %}
{% import 'macro/edit-link.twig' as editLink %}
{% import 'macro/anchor.twig' as anchor %}
{% import 'macro/socials.twig' as socials %}
{% import 'macro/newsletter.twig' as newsletter %}
{% import 'macro/money_form.twig' as moneyForm %}
{% import 'macro/news_block.twig' as newsBlock %}
{% import 'macro/subprojects.twig' as projectMiniView %}

{% block content %}
	{% for view in post.get_field('flexible_content') %}
		{% if view.acf_fc_layout == "latest_news" %}
			<div class="container {{ view.acf_fc_layout }} {{ post.main_section ? 'main_section' : '' }} ">
				<div class="row">
					{{ newsBlock.input(post, view) }}
				</div>
			</div>

		{% elseif view.acf_fc_layout == "gallery" %}
			<div class="container {{ view.acf_fc_layout }}">
				{{ anchor.input(view.anchor, post) }}
				{% for image in view.images %}
					{% set img = TimberImage(image.id) %}
						<div class="col-12 col-sm-4 col-md-4">
							<img src="{{ img.src('thumbnail') }}" alt="{{ post.title }}">
						</div>
				{% endfor %}
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}

{% block sparseContent %}
	<div class="row">
		{% for view in post.get_field('flexible_content') %}
			{% if view.acf_fc_layout == "subprojects" %}
				{% for project in view.projects %}
					{{ projectMiniView.input(project, view.acf_fc_layout) }}
				{% endfor %}

			{% elseif view.acf_fc_layout == "text" %}
				<div class="col-12 {{ view.acf_fc_layout }}">
					<h2 class="{{ view.highlight ? 'highlight' : '' }}">
						{{ view.heading|wpautop }}
					</h2>
					<div class="entry">
						{{ view.content|wpautop }}
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}

{% block aside %}
	{# sure this is bit-big hack form the logic point of view I'm hacking in the global modules not the section specific #}
	<div class="money_form user_entry">
		{% set mform = global_aside.get_field('donate') %}
		{{ moneyForm.input(mform.heading, mform.description, mform.amounts, mform.default_amount, mform.frequency, mform.default_frequency, mform.project_id, mform.client_id) }}
	</div>
	<div class="socials">
		{{ socials.input(global_aside.get_field('social')) }}
	</div>
	{# newsletter, just plain html for now #}
	<div class="newsletter user_entry">
		{{ newsletter.input() }}
	</div>
{% endblock %}